<h3>Lastly, feel free to connect with me online</h3>
<table>
  <tr class="links">
    <th align="center"><a href="https://www.linkedin.com/in/">LinkedIn</a></th>
    <th align="center"><a href="https://github.com/wuhangchen">GitHub</a></th>
    <th align="center"><a href="https://www.quora.com/">Quora</a></th>
  </tr>
  <tr>
    <td align="center">
       <a class="" href="https://www.linkedin.com/in/">
        <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/linkedin.svg">
      </a>
    </td>
    <td align="center">
       <a class="" href="https://github.com/wuhangchen">
            <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/github.svg">
          </a>
      </a>
    </td>
    <td align="center">
       <a class="" href="https://www.quora.com/">
        <img class="responsive-img" width="35%" src="{{ site.baseurl }}/img/quora.svg">
      </a>
    </td>
  </tr>
</table>


