<div class="row">
  <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/">Home</a>
  </div>

  <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/publications">Publications</a>
  </div>

  <!-- <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/blog">Blog</a>
  </div> -->

  <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/projects">Projects</a>
  </div>

  <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/files/wilka_carvalho_CV.pdf">CV</a>
  </div>


 <div class="col-sm-2 center">
    <a href="{{ site.baseurl }}/acknowledgments">Acknowledgements</a>
  </div>

</div>