<div class="navbar-outter">
<nav class="navbar sticky-top justify-content-between navbar-expand-sm navbar-nav navbar-dark bg-dark">
<!-- <div class="navbar-inner"> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a href="{{ site.baseurl }}/">Home</a> -->
        <a class="nav-link" href="{{ site.baseurl }}/#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/publications">Publications</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/projects/" id="navbarDropdownMenuLink">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ site.baseurl }}/projects/" id="navbarDropdownMenuLink">
          Projects
          </a>
          <a class="dropdown-item" href="{{ site.baseurl }}/projects/#essays">Essays</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/projects/#poetry">Poetry</a>
        </div>
      </li>

<!--       <li class="nav-item">
        <a class="nav-link"  href="{{ site.baseurl }}/blog">Blog</a>
      </li>
 -->
      

      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/questions" id="navbarDropdownMenuLink">
          Interesting Questions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ site.baseurl }}/questions/#choices-motivated-value" id="navbarDropdownMenuLink">
            What motivates us?
          </a>
          <a class="dropdown-item" href="{{ site.baseurl }}/questions/#how-we-infer">
            How do we make inferences?
          </a>
          <a class="dropdown-item" href="{{ site.baseurl }}/questions/#resources" id="navbarDropdownMenuLink"> 
            Leads
          </a>
        </div>
      </li> -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/files/wilka_carvalho_CV.pdf" id="navbarDropdownMenuLink">
          Curriculum Vitae
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ site.baseurl }}/files/wilka_carvalho_CV.pdf" id="navbarDropdownMenuLink">
          Curriculum Vitae
          </a>
          <a class="dropdown-item" href="{{ site.baseurl }}/files/wilka_carvalho_resume.pdf">Resume</a>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/acknowledgments">Acknowledgements</a>
      </li>
    </ul>
    <!-- <span class="masthead-title navbar-tex">
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a><br>
      <small>{{ site.tagline }}</small>
    </span> -->




    <li class="nav-item navbar-nav navbar-right">
      <a class="nav-link"  href="{{ site.baseurl }}/blog">Blog</a>
    </li>

    <li class="nav-item navbar-nav navbar-right">
        <a class="nav-link"  href="{{ site.baseurl }}/questions">Interesting Questions</a>
      </li>

  
</div>
<!-- </div> -->
</nav>
</div>