<div class="masthead">
    
  <div class="top-left">
  <div class="container">
      I want to understand you<br>
      <br>
      but I feel frustrated<br>
      because I don't know how to<br>
      <br>
      but it's okay<br>
      because since you're a brain<br>
      I just need to feed you your data<br>
      and you'll understand yourself<br>
      <br>
      and since you're within me<br>
      if I listen closely, I will as well<br>
  </div>
  </div>
  <div class="bottom-right">
    <div class="container">
      <div align="center">
        <h3 class="masthead-title">
            <img class="nsf responsive-img" src="{{ site.baseurl }}/files/nsf_photo.jpg"> <br>
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a><br>
            <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </div>
  </div>
  <div class="bottom-left">
    <div class="container">
      <a href="https://www.linkedin.com/in/杭沉-吴-286307161"><i class="svg-icon linkedin"></i></a>
      <a href="https://github.com/wuhangchen/"><i class="svg-icon github"></i></a>
      <a href="https://twitter.com/cVsH78tLBffIf9q/following"><i class="svg-icon twitter"></i></a>
      <a href="mailto:1714593434@Outlook.com"><i class="svg-icon email"></i></a>
    </div>
  </div>
</div>